#waitScreen {
  width: 100vw;
  height: 100vh;
  z-index: 3;

}

#waitStaff {
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  height: 24%;
}

#quarterRest {
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  height: 6%;
  transition: left 0.1s ease-in;
}