.fullPage {
    width: 98vw;
    height: 75vw;
    background-image: 'url(/images/FrenderAmp.png)';
    background-size: 100% 100%;
}

#loginForm {
    height: 56vw;
    width: 20vw;
    position: absolute;
    right: 20vw;
    /* top: 0; */
    background-image: 'url(/images/backstagepass.png)';
    background-size: 100% 100%;
    background-position: center;
    pointer-events: none;
    transition: top, bottom 0.5s cubic-bezier(0.15, 1.78,0.28, 0.92);
}

#logFormEl {
    position: absolute;
    width: 80%;
    height: 45%;
    bottom: 3%;
    left: 15%;
    pointer-events: auto;
}

#emailAndPassword {
    position: absolute;
    top: 10%;
    width: 100%;
}

.logInput {
    width: 80%;
    height: 10%;
    left: 15%;
}

#signUp {
    position: absolute;
    bottom: 18%;
    left: 16%;
}

#signUp span {
    color: blue;
    font-weight: bolder;
}

#loginSubmit {
    position: absolute;
    color: rebeccapurple;
    bottom: 10%;
    left: 16%;
}

#signUp:hover {
    cursor: pointer;
}


