
.playerCard {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.yesNoButtonBox{
  display: flex;
  justify-content: space-around;
}

.starz {
  font-size: 2em;
  color: gold;
}